// variables files
@use "./variables" as * ;


  html,
  body,
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-bg , $color-bg);
    font-family: 'Roboto', sans-serif;
    color: var(--color , $color);
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 1em;
  }
::-webkit-scrollbar-thumb {
    background-color: #333;
    outline: 1px solid rgb(10, 20, 29);
    border-radius: 10px;
    cursor: pointer;
  }
 
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ul{
    list-style: none ;
  }
  img{
    max-width: 100%;
    max-height: 100%;
  }
  button {
    border:none;
    outline:none;
  }
  .special-font{
      font-family: 'Clicker Script', cursive;
  }
  .special-them-color{
    color:var(--them-color,$them-color)
  }
  .capitalize{
    text-transform:capitalize;
  }
  .special-head{
    text-align:center;
    width:100%;
    margin-bottom:20px;
    font-family: 'Fira Sans', sans-serif;

  }
  .display-none{
    display:none;
  }
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-elements{
    display:flex;
    color: var(--color , $color);
    display: none;
    height: 100vh;
    position: relative;
  }
  .setting {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color , $color);
    right: 0;
    top: 0;
    transform: translate(110px , 0);
    -webkit-transform: translate(110px , 0);
    height: 100px;
    width: 120px;
    padding: 0 20px;
    color:var(--color-bg , $color-bg);
    border-radius: 4px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    font-size: 20px;
    z-index:6000;
    -moz-transform: translate(110px , 0);
    -ms-transform: translate(110px , 0);
    -o-transform: translate(110px , 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    &.show
{
    transform: translate(0px , 0);
    -webkit-transform: translate(0px , 0);
    -moz-transform: translate(0px , 0);
    -ms-transform: translate(0px , 0);
    -o-transform: translate(0px , 0);
    .seeting-icon,.light-mood
{
      background-color: var(--color , $color);
      color:var(--color-bg , $color-bg);
    }
}
    .seeting-icon , .light-mood{
      padding: 6px;
      width: 50px;
      height: 50px;
      position: absolute;
      left: -35px;
      background-color:var(--color-bg , $color-bg);
      color:var(--color , $color);
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      cursor: pointer;
      z-index:-1;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
}
.seeting-icon {
  top: 75px;
  border-bottom-left-radius: 4px;
}
.light-mood {
  top: 25px;
  border-top-left-radius: 4px;
}
.them-color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  .them-color-item {
    width: 15px;
    height: 15px;
    box-shadow: 0 0 2px;
    cursor:pointer;
}
}
}

.section{
  width:calc(100vw - 200px);
  height: 100%;
  // min-height:100vh;
  // overflow-x: hidden;
  overflow-y: auto;
  background-color:var(--color-bg , $color-bg);
  color: var(--color , $color) ; 
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;   
  padding: 30px ;
  position: absolute;
  top: 0;
  right: 0;
  transform:translateX(1000px) ;
  -webkit-transform:translateX(1000px) ;
  -moz-transform:translateX(1000px) ;
  -ms-transform:translateX(1000px) ;
  -o-transform:translateX(1000px) ;
  .section-content{
    width:100%;
  }
  &.show{
    z-index:5000;
    transform:translateX(0px)  ;
    -webkit-transform:translateX(0px)  ;
    -moz-transform:translateX(0px)  ;
    -ms-transform:translateX(0px)  ;
    -o-transform:translateX(0px)  ;
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    -ms-transition:1s;
    -o-transition:1s;
}
}


.data{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;  
    height: 100%; 
    .data-info ,.data-img{
        flex:1;
    }
    .data-img{
        display: flex;
        justify-content: center;
        .data-img-content{
            width:fit-content;
            height:fit-content;
            position: relative;
            &::before , &::after{
                content: "";
                border-width:5px;
                border-style:solid;
                position: absolute;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                height: 25px;
                width: 25px;
            }
            &::before {
                border-color:var(--them-color , $them-color) var(--them-color , $them-color) transparent transparent ;
                top: 0;
                right: 0;
            }
            &::after{
                border-color: transparent transparent var(--them-color , $them-color) var(--them-color , $them-color) ;
                bottom: 0;
                left: 0;
            } 
        }
    }
    .data-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        .data-desc {
            .jop-title , p , .welcome-msg{
                margin-top: 6px;
            }
            p{
                line-height:1.4;
            }
        }
    } 
}
.slider{
  margin-bottom: 20px;
  position: relative;
  .slider-header{
    text-align: left;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: 0.3s;
    cursor: pointer;
    width:fit-content;
          .arrow-icon{
            color: var(--them-color , $them-color)
          }
          &:hover{
              gap:10px;       
          }  
  }
  
  .slider-items {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .slider-arrow {
      color: var(--them-color, #ffb400);
      font-size: 30px;
      cursor: pointer;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
  }
    .items{
        border:1px solid var(--them-color , $them-color);
        border-radius:2px;
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
        gap:20px;
        overflow-y: hidden;
        // grid-auto-flow: column;
        place-items: center;
        // width: auto;
        // width: fit-content;
        width:100%;
        padding: 10px;
        height:170px;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        -ms-border-radius:2px;
        -o-border-radius:2px;
        .item{
            width:100%;
            height:150px;
            position:relative;
            overflow: hidden;
            border-radius: 7px;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            -o-border-radius: 7px;
            box-shadow: 0 0 5px var(--color , $color); 
                img{
                    width:100%;
                    height:100%;                      
                }
            }
    }
  }
}    

@media(max-width: 767px){
  .section {
    width:100vw;
    .section-content{
      // width: calc(100vw - 100px);
    }
  }
  .data{
      gap:50px;
      flex-direction: column;
    .data-info , .data-img{
        flex: none;
        width: 100%;
    }
    .data-info {
        text-align: center;
    }
    .data-img{
            order: -1;
            .data-img-content{
                // width: 200px;
                height: 200px;
            }
    }    
  }  
} 