    $color-bg: rgb(0, 0, 0);
    $them-color: #ffb400;
    $color:#eee;
    $header-bg:#333;
    $loader-size: 100px;
    $loader-speed: 500ms;
    $loader-height: calc($loader-size / 7);

    // :export{
    //     color-bg : $color-bg;
    //     them-color: $them-color;

    // }