// variables files
@use "../variables" as * ;

// mixins files
@use "../mixins" as * ;

.contact {
    flex-direction: column;
    .contact-info {
        margin-top: 50px;
        display: flex;
        .contact-list {
            display: flex;
            flex-direction: column;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            // place-items: center;
            gap: 15px;
            padding:25px;
            .contact-list-item{
                width: 150px;
                a {
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;
                    .contact-item-icon {
                        font-size: 22px;
                        margin-right: 5px;
                        transition: .3s;
                    }
                    &:hover .contact-item-icon {
                        margin-right: 12px;
                    }
                    .contact-item-text {
                        color:var(--color , $color)
                    }
                }
            }
        }
      
    }
}
