@import "./../Main/Main.css" ;

.skill-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.skill-bar {
    width: 250px;
    height: 10px;
    background-color: #eee;
    border-radius: 4px;
    position:relative;
    overflow:hidden;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
.skill-bar::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    /* width: 50%; */
    height: 100%;
    background-color: var(--special-color , aque);
    
}